<form
  class="product-type-form"
  [formGroup]="formGroupProductType"
  *ngIf="formGroupProductType"
  (ngSubmit)="onSubmit($event)"
  #formProductType="ngForm"
>
  <label for="name" class="label"
    >Categoria <i *ngIf="nameField!.valid" class="fa-solid fa-circle-check"></i
  ></label>
  <input id="name" type="text" formControlName="name" placeholder="Categoria" autofocus="autofocus" onFocus="this.select()"/>
  <span
    class="validation"
    *ngIf="
      nameField!.invalid && (nameField!.touched || formProductType.submitted)
    "
    >Requerido</span
  >
  <button class="btn-guardar" type="submit">Agregar</button>
</form>
