<form
  class="delivery-method-form"
  [formGroup]="formGroupDeliveryMethod"
  *ngIf="formGroupDeliveryMethod"
  (ngSubmit)="onSubmit($event)"
  #formDeliveryMethod="ngForm"
>
  <label for="name" class="label"
    >Método de entrega
    <i *ngIf="nameField!.valid" class="fa-solid fa-circle-check"></i
  ></label>
  <input
    id="name"
    type="text"
    formControlName="name"
    placeholder="Método de entrega"
    autofocus="autofocus" onFocus="this.select()"
  />
  <span
    class="validation"
    *ngIf="
      nameField!.invalid && (nameField!.touched || formDeliveryMethod.submitted)
    "
    >Requerido</span
  >
  <label for="priceByKm" class="label"
    >Precio de envío
    <i *ngIf="priceByKmField!.valid" class="fa-solid fa-circle-check"></i
  ></label>
  <input
    id="priceByKm"
    type="number"
    formControlName="priceByKm"
    placeholder="Precio de envío"
  />
  <span
    class="validation"
    *ngIf="
      priceByKmField!.invalid && (priceByKmField!.touched || formDeliveryMethod.submitted)
    "
    >Requerido</span
  >
  <button class="btn-guardar" type="submit">Agregar</button>
</form>
