<div class="cart-flex container">
  <div class="cart-products" *ngIf="order != null; else noProducts">
    <h1 class="cart-title">Carrito</h1>
    <p class="product-code"><span>Código de Orden: </span>{{ order.id }}</p>
    <hr />
    <div class="order-product" *ngFor="let product of order.orderProducts">
      <img class="order-img" src="{{ product.imageUrl }}" onerror="src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfDKQDSy8e-KJIHnylQr4ZnTNQtAA-xs986A&usqp=CAU'"
      />
      <div class="order-detail">
        <h5 class="cart-title">{{ product.product }}</h5>
        <hr />
        <b>
          Cantidad:
          <select
            class="input-quantity"
            name="quantity"
            (change)="updateQuantity(product, quantitySelected.value)"
            #quantitySelected
          >
            <option
              *ngFor="let quantity of product.stockArray"
              value="{{ quantity }}"
              [defaultSelected]="product.productQuantity == quantity"
            >
              {{ quantity }}
            </option>
          </select>
        </b>
        <p><b>Precio:</b> ${{ product.total }}</p>
        <button
          class="btn-show-product"
          (click)="openModal(template, product.productId)"
        >
          Ver Detalles
        </button>
        <div>
          <br />
          <button class="btn-remove-product" (click)="removeProduct(product)">
            Remover Producto
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="order-pay" *ngIf="order != null">
    <table class="table-pay">
      <tr>
        <td class="table-item"><b>Entrega: </b></td>
        <td>
          <select
            name="deliveryMethod"
            id="deliveryMethod"
            class="deliveryMethod"
            [(ngModel)]="deliveryMethod"
          >
            <option value="" [defaultSelected]="true">Seleccione...</option>
            <option
              *ngFor="let deliveryMethod of deliveryMethods"
              value="{{ deliveryMethod.id }}"
            >
              ${{ deliveryMethod.priceByKm }} {{ deliveryMethod.name }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="table-item"><b>Subtotal: </b></td>
        <td>${{ order.subtotal }}</td>
      </tr>
      <tr>
        <td class="table-item"><b>Subtotal: </b></td>
        <td>${{ order.subtotal }}</td>
      </tr>
      <tr>
        <td class="table-item"><b>Iva 12%: </b></td>
        <td>${{ order.iva }}</td>
      </tr>
      <tr>
        <td class="table-item"><b>Total: </b></td>
        <td>${{ order.totalPrice }}</td>
      </tr>
    </table>
    <div class="buttons-details" *ngIf="order.state == 'Pendiente'">
      <button class="btn-details" (click)="cancelOrder()">
        Cancelar <i class="fa-solid fa-ban"></i>
      </button>
      <button class="btn-details" (click)="payOrder()">
        Confirmar <i class="fa-solid fa-check"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <h3>No hay productos agregados aun</h3>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ productSelected.name }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span
      [class.available]="productSelected.stock > 0"
      [class.unavailable]="productSelected.stock == 0"
      >{{ productSelected.stock > 0 ? "Disponible" : "Agotado" }}</span
    >
    <app-product-info
      [productSelected]="productSelected"
      (closeModal)="closeModal()"
    ></app-product-info>
  </div>
</ng-template>
